.portfolio {
	width: 100%;
	letter-spacing: -0.04em;
	max-width: 1280px;
	margin: 100px auto 125px auto;
}

.portfolio__title {
	color: #8b8b8b;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	max-width: calc(100% - 140px);
	margin: 0 auto;
}

.portfolio__links {
	margin: 70px auto auto;
	max-width: calc(100% - 140px);
	display: flex;
	flex-direction: column;
	gap: 40px;
	list-style: none;
	padding: 0;
}
.portfolio__link-container {
	display: flex;
	flex-direction: row;
	position: relative;
	transition: 0.1s ease-in;
}

.portfolio__link-container:hover {
	opacity: 0.6;
}

.portfolio__link {
	text-decoration: none;
	color: #ffffff;
	font-size: 30px;
	line-height: 50px;
	font-weight: 500;
	font-weight: 400;
	border-bottom: 1px solid #424242;
	padding-bottom: 19px;
	width: 100%;
}

.portfolio__link_without-border {
	border: none;
	padding-bottom: 0;
}

.portfolio__link-icon {
	background: url('../../images/portfolio-link-icon.svg') no-repeat center;
	position: absolute;
	width: 18px;
	height: 18px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

@media screen and (max-width: 768px) {
	.portfolio {
		margin: 90px auto 90px auto;
	}

	.portfolio__title {
		max-width: calc(100% - 90px);
	}

	.portfolio__links {
		max-width: calc(100% - 90px);
		margin-top: 50px;
	}

	.portfolio__link {
		font-size: 28px;
	}
}

@media screen and (max-width: 600px) {
	.portfolio {
		margin: 70px auto 70px auto;
	}

	.portfolio__title {
		max-width: calc(100% - 28px);
	}

	.portfolio__links {
		max-width: calc(100% - 28px);
		margin-top: 40px;
	}

	.portfolio__link {
		font-size: 18px;
		line-height: 28px;
	}
}
