.page {
	background-color: rgba(32, 32, 32, 1);
	font-family: 'Inter', Arial, sans-serif;
	color: #fff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 320px;
	margin: 0 auto;
}

/* TODO Styling while autofilling iputs */
/* input {
	-webkit-box-shadow: inset 0 0 0 50px #2f2f2f;
	-webkit-text-fill-color: white;
} */

@import url('../src/vendor/normalize.css');
@import url('../src/vendor/fonts/fonts.css');
