.navigation {
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
}

.navigation__link {
	background-color: #303030;
	color: white;
	padding: 10px 17px;
	text-decoration: none;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	transition: 0.1s ease-in;
	margin-right: 10px;
}

.navigation__link:hover {
	opacity: 0.6;
}

.navigation__link:last-of-type {
	margin-right: 0;
}

@media screen and (max-width: 768px) {
	.navigation {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 600px) {
	.navigation {
		margin-bottom: 17px;
	}
	.navigation__link {
		padding: 5px 15.5px;
	}
}
